<html>
<head>
<meta charset="UTF-8">
<link rel='stylesheet' href='http://cdn.jsdelivr.net/pure/0.6.0/pure-min.css' type='text/css' media='all' />
<link rel='stylesheet' href='style.css' type='text/css' media='all' />
<title>Curlingowe newsy</title>
</head>

<body>
	<div id="container">
		<div class="heading">
			<h1>Curlingowe newsy</h1>
		</div>
		<ul>
			<% @entries.each do |entry| %>
				<li class="news">
					<div class="entry-details">
						<p class="date"><%= entry.published.strftime("%d.%m.%Y") %><img src="img/<%= /http:\/\/(www\.)?(?<foo>[^\.]+)/.match(entry.url)[:foo] %>.png" /></p>
					</div>

					<a href="<%= entry.url %>" class="entry-title"><%= entry.title %></a>
				</li>
			<% end %>
		</ul>
		<div class="footer">
			<p>Newsy zebrane z kanałów RSS <a href="http://pfkc.pl/rss.xml">PFKC</a>, <a href="http://pzc-rss.curling-poland.com/pzc.rss">PZC</a> oraz <a href="http://curling-poland.com/pl.rss">Curling Poland</a>. Odświeżane co około 10 minut. Źródło tego kosmicznego skryptu dostępne <a href="https://gitlab.com/katafrakt/curling-feeds">tutaj</a>.</p>
		</div>
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-1992774-14', 'auto');
		  ga('send', 'pageview');

		</script>
	</div>
</body>
</html>