@import url(http://fonts.googleapis.com/css?family=Signika&subset=latin,latin-ext);

body {
	font-family: 'Signika', sans-serif
}

#container {
	max-width: 800px;
	margin: auto;
}

a {
	text-decoration: none;
	color: #333;
}

a:hover {
	color: #666;
}

a.entry-title {
	font-size: 2em;
}

.entry-details {
	float: right;
	margin-left: 20px;
}

.entry-details img {
	vertical-align: bottom;
}

ul li.news {
	list-style-type: none;
	padding: 20px 0;
	clear: both;
	text-align: center;
}

p.date {
	font-size: 0.7em;
	color: gray;
}

p.date img {
	margin-left: 6px;
}

.heading {
	border-bottom: solid 1px #ccc;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.heading h1 {
	text-transform: uppercase;
	font-size: 2.5em;
}

.footer {
	padding-top: 10px;
	margin-top: 10px;
	border-top: solid 1px #ccc;
	text-align: center;
}